@media (max-width: 900px) {
    .main {
        max-width: 375px;
        min-height: 780px;
        position: relative;
        background-color: #FFF;
    }

    .overlay {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        background-color: var(--Almost-Black);
        opacity: .75;
    }

    .overlay.active {
        display: block;
    }

    .header {
        position: relative;
        justify-content: space-between;
        padding: 0px 16px 24px 17px;
    }

    .nav-header {
        display: none;
    }

    .nav-header.active {
        width: 240px;
        height: 780px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 21px;
        background-color: #FFF;
        padding-left: 24px;
        padding-top: 70px;
        margin-top: 0;
    }

    .logo {
        margin-top: 24px;
    }

    .menu-hamburger {
        display: block;
        z-index: 1;
    }

    .ul-menu {
        flex-direction: column;
        gap: 15px;
    }

    .ul-menu li {
        font-size: 16px;
        letter-spacing: normal;
        margin-right: auto;
    }

    .ul-menu .li-features,
    .ul-menu .li-company {
        padding-right: 26px;
    }
    
    .ul-menu .li-features.active::before {
        right: 87px;
        top: 4px;
    }

    .ul-menu .li-company.active::before {
        right: 42px;
        top: 5px;
    }

    .ul-menu .li-features .ul-features {
        width: 100%;
        position: relative;
        display: none;
        top: 6px;
        left: 0px;
        gap: 12px;
        padding: 20px 0 6px 24px;
    }

    .ul-menu .li-features .ul-features li:nth-child(1) img {
        width: 18px;
        margin-left: 1px;
    }

    .ul-menu .li-features .ul-features li:nth-child(2) img,
    .ul-menu .li-features .ul-features li:nth-child(4) img {
        width: 20px;
    }

    .ul-menu .li-features .ul-features li:nth-child(3) img {
        width: 16px;
        margin-right: 3px;
    }

    .ul-menu .li-company .ul-company {
        width: 100%;
        position: relative;
        display: none;
        top: 2px;
        left: 0;
        gap: 15px;
        padding: 20px 0 6px 25px;
    }

    .ul-menu .li-features .ul-features.active,
    .ul-menu .li-company .ul-company.active {
        display: flex;
        box-shadow: none;
    }

    .div-btn-header {
        width: 195px;
        flex-direction: column;
        gap: 6px;
    }

    .btn-header-1 {
        margin: 0 60px 0 auto;
        background-color: #FFF;
    }

    .picture-right {
        max-width: 100%;
        padding: 0;
        margin-top: 0px;
    }

    .div-main-info {
        width: 100%;
        flex-direction: column-reverse;
    }

    .section-left {
        text-align: center;
        align-items: center;
        gap: 20px;
        padding-top: 45px;
        padding-left: 0px;
    }

    .section-left .h1 {
        font-size: 36px;
    }
    
    .section-left .p-info-left {
        max-width: 340px;
        font-size: 16px;
        line-height: 26px;
    }

    .btn-info {
        width: 137px;
        height: 48px;
        font-size: 17px;
        margin-top: 4px;
    }

    .div-logos-ilustration {
        justify-content: center;
        gap: 29px;
        margin-top: 28px;
    }

    .div-logos-ilustration .img-logo-0 {
        width: 82px;
    }

    .div-logos-ilustration .img-logo-1 {
        width: 52px;
    }

    .div-logos-ilustration .img-logo-2 {
        width: 64px;
    }

    .div-logos-ilustration .img-logo-3 {
        width: 58px;
    }
}